{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% if collector.hasCalls %}
        {% set icon %}
            <img width="16" height="28" alt="API" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcAgMAAAAVX9eJAAAAA3NCSVQICAjb4U/gAAAACVBMVEUAAAA/Pz+4uLjfnSu+AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUCFtjYIAAFhAhCiJCHRgYGEMDGBhYQ0OgXDCxihKigQFCcK1awcDAtGoBlMugBbKRgwECACQCGHnyve7YAAAAAElFTkSuQmCC"/>
            <span class="sf-toolbar-status sf-toolbar-status-{% if collector.hasErrors %}red{% elseif collector.hasWarnings %}yellow{% else %}green{% endif %}">{{ collector.calls|length }}</span>
        {% endset %}
        {% set text %}
            {% if collector.totalTime > 0 %}
                <div class="sf-toolbar-info-piece">
                    <b>Total Time</b>
                    {{ collector.totalTime|number_format(2) }} s
                </div>            
            {% endif %}        
            {% if collector.successCount %}
                <div class="sf-toolbar-info-piece">
                    <b>Successes</b>
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.successCount }}</span>
                </div>
            {% endif %}        
            {% if collector.errorCount %}
                <div class="sf-toolbar-info-piece">
                    <b>Errors</b>
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.errorCount }}</span>
                </div>
            {% endif %}
            {% if collector.warningCount %}
                <div class="sf-toolbar-info-piece">
                    <b>Warnings</b>
                    <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ collector.warningCount }}</span>
                </div>
            {% endif %}
        {% endset %}        
        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon"><img alt="API" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcAgMAAAAVX9eJAAAAA3NCSVQICAjb4U/gAAAACVBMVEUAAAA/Pz+4uLjfnSu+AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUCFtjYIAAFhAhCiJCHRgYGEMDGBhYQ0OgXDCxihKigQFCcK1awcDAtGoBlMugBbKRgwECACQCGHnyve7YAAAAAElFTkSuQmCC"/></span>
        <strong>API</strong>
        {% if collector.hasCalls %}
            <span class="count"><span>{{ collector.calls|length }}</span></span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <style type="text/css">
        .http-header {
            color: #545454;
            font-size: 11px;
            margin-left: 10px;
        }

        .http-header strong {
            color: #545454;
        }

        .small-header {
            color: #313131;
            display: block;
            font-size: 11px;
            font-weight: bold;
        }

        .ex-info-box {
            padding: 5px;
            background: #fff;
            margin: 5px 0 0 0;
        }

        .r-label {
            color: #fff;
            border-radius: 6px;
            font-size: 11px;
            padding: 1px 3px;
            background: #888;
            display: inline-block;
            vertical-align: top;
        }

        .r-label-green {
            background: #759e1a;
        }        

        .r-label-red {
            background: #a33;
        }

        .r-label-yellow {
            background: #ffcc00;
        }

        span.error {
            color: #a33;
        }

        ul.alt li.error {
            background: #FFCBCB;
        }

        ul.alt li:hover {
            background: #f6f6f6;
        }

        ul.alt li.even:hover {
            background: #E5F5BC;
        }

        ul.alt li.error:hover {
            background: #FFA6A6;
        }


        ul.alt li {
            cursor: pointer;
        }

        ul.alt li.togglable-open {
            height: auto;
        }

        ul.alt li.togglable-closed {
            height: 16px;
            overflow: hidden;
        }        

        .pull-right {
            float: right;
            clear: right;
        }
    </style>

    <h2>API Calls</h2>
    {% if collector.hasCalls %}
        <ul class="alt">
            {% for call in collector.calls %}
                <li class="togglable togglable-closed {% if loop.index is even %}even{% else %}odd{% endif %} {% if call.hasError %}error{% endif %}">
                    {% if call.hasResponse %}
                        <span class="r-label r-label-{% if call.hasError %}red{% elseif call.hasWarning %}yellow{% else %}green {% endif %}">{{ call.responseStatusCode }}</span>
                    {% endif %} 

                    <strong>{{ call.method }}</strong>

                    {{ call.url }}

                    <div class="pull-right">
                        {% if call.responseLength %}
                            <span class="r-label">
                                {{ (call.responseLength / 1024)|number_format(2) }} KiB
                            </span>
                        {% endif %}
                        {% if call.totalTime %}
                            <span class="r-label">
                                {{ call.totalTime|number_format(2) }} s
                            </span>
                        {% endif %}
                        <span class="r-label">
                            {{ call.apiName }}
                        </span>
                    </div>

                    <div class="ex-info-box">
                        {% if call.errorString %}
                            <small>
                                <strong>Error:</strong>
                                <span class="error">{{ call.errorString }}</span>
                            </small>
                        {% endif %}
                        {% if call.hasRequestHeaders %}
                            <span class="small-header">Request Headers</span>
                            {{ _self.show_headers(call.requestHeaders )}}
                        {% endif %}
                        {% if call.urlQueryParameters %}
                            <span class="small-header">Query Parameters</span>
                            {{ _self.show_headers(call.urlQueryParameters )}}
                        {% endif %}
                        {% if call.hasResponseHeaders %}
                            <span class="small-header">Response Headers</span>
                            {{ _self.show_headers(call.responseHeaders )}}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><em>No API calls were made for this request.</em></p>
    {% endif %}
    <script type="text/javascript">
        var togglables = document.getElementsByClassName('togglable');
        var toggle = function(e) {
            var togglable = e.target;
            
            if(Sfjs.hasClass(togglable, 'togglable-open')) {
                Sfjs.removeClass(togglable, 'togglable-open');
                Sfjs.addClass(togglable, 'togglable-closed');
            } else if(Sfjs.hasClass(togglable, 'togglable-closed')) {
                Sfjs.removeClass(togglable, 'togglable-closed');
                Sfjs.addClass(togglable, 'togglable-open');
            }                
        }

        for(var i = 0; i < togglables.length; ++i) {
            togglables[i].onclick = toggle;
        }
    </script>    
{% endblock %}

{% macro show_headers(headers) %}
    {% for name, value in headers %}
        <div class="http-header">
            <strong>{{ name }}:</strong>
            {{ value }}{% if not loop.last %}<br/>{% endif %}
        </div>
    {% endfor %}
{% endmacro %}