{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% import _self as macros %}

{% block toolbar %}
    {% if collector.hasCalls %}
        {% set icon %}
            <img width="16" height="28" alt="API" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcAgMAAAAVX9eJAAAAA3NCSVQICAjb4U/gAAAACVBMVEUAAAA/Pz+4uLjfnSu+AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUCFtjYIAAFhAhCiJCHRgYGEMDGBhYQ0OgXDCxihKigQFCcK1awcDAtGoBlMugBbKRgwECACQCGHnyve7YAAAAAElFTkSuQmCC"/>
            <span class="sf-toolbar-status sf-toolbar-status-{% if collector.hasErrors %}red{% elseif collector.hasWarnings %}yellow{% else %}green{% endif %}">{{ collector.calls|length }}</span>
        {% endset %}
        {% set text %}
            {% if collector.totalTime > 0 %}
                <div class="sf-toolbar-info-piece">
                    <b>Total Time</b>
                    {{ collector.totalTime|number_format(2) }} s
                </div>            
            {% endif %}        
            {% if collector.successCount %}
                <div class="sf-toolbar-info-piece">
                    <b>Successes</b>
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.successCount }}</span>
                </div>
            {% endif %}        
            {% if collector.errorCount %}
                <div class="sf-toolbar-info-piece">
                    <b>Errors</b>
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.errorCount }}</span>
                </div>
            {% endif %}
            {% if collector.warningCount %}
                <div class="sf-toolbar-info-piece">
                    <b>Warnings</b>
                    <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ collector.warningCount }}</span>
                </div>
            {% endif %}
        {% endset %}        
        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon"><img alt="API" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcAgMAAAAVX9eJAAAAA3NCSVQICAjb4U/gAAAACVBMVEUAAAA/Pz+4uLjfnSu+AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUCFtjYIAAFhAhCiJCHRgYGEMDGBhYQ0OgXDCxihKigQFCcK1awcDAtGoBlMugBbKRgwECACQCGHnyve7YAAAAAElFTkSuQmCC"/></span>
        <strong>API</strong>
        {% if collector.hasCalls %}
            <span class="count"><span>{{ collector.calls|length }}</span></span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <style type="text/css">
        .http-header {
            color: #545454;
            font-size: 11px;
            margin-left: 10px;
        }

        .http-header strong {
            color: #545454;
        }

        .small-header {
            color: #313131;
            display: block;
            font-size: 11px;
            font-weight: bold;
        }

        .tab-content {
            padding: 5px;
            background: #fff;
            margin: 5px 0 0 0;
            cursor: auto;
        }

        .tab-title {
            color: #dedede;
            display: block;
            font-size: 11px;
            font-weight: bold;
            float: right;
            clear: right;
        }

        .r-label {
            color: #fff;
            border-radius: 6px;
            font-size: 11px;
            padding: 1px 3px;
            background: #888;
            display: inline-block;
            vertical-align: top;
        }

        .r-label-green {
            background: #759e1a;
        }        

        .r-label-red {
            background: #a33;
        }

        .r-label-yellow {
            background: #ffcc00;
        }

        .r-label-blue {
            background: #078CC3;
        }        

        span.error {
            color: #a33;
        }

        ul.alt li.error {
            margin: 0;
        }

        ul.alt li.success:hover {
            background: #E5F5BC;
        }

        ul.alt li.error:hover {
            background: #FFDEDE;
        }

        ul.alt li {
            transition: background-color 0.1s ease-in;
            cursor: pointer;
            border: 1px solid #d0dbb3;
            border-bottom-width: 0;
        }

        ul.alt li:last-child {
            border-bottom-width: 1px;
        }

        ul.alt li.togglable-open {
            height: auto;
        }

        ul.alt li.togglable-closed {
            height: 15px;
            overflow: hidden;
        }        

        pre.code {
            overflow-x: auto;
            max-height: 400px;
        }

        .msg-body {
            margin: 5px;
            padding: 5px;
            font-size: 11px;
            background: #FFFBD7;
            min-height: 11px;
        }

        .pull-right {
            float: right;
            clear: right;
        }

        .body-link {
            font-size: 11px;
            font-weight: bold;
            text-decoration: none;
            color: #D5BF02;
            float: right;
        }

        ul.alt li,
        ul.alt li.even,
        ul.alt li.odd,
        ul.alt li.error {
            background-color: #fff;
        }
    </style>

    <h2>API Calls</h2>
    {% if collector.hasCalls %}
        <ul class="alt">
            {% for call in collector.calls %}
                <li class="togglable togglable-closed {% if call.hasError %}error{% else %}success{% endif %}">
                    {% if call.hasResponse %}
                        <span class="r-label r-label-{% if call.hasError %}red{% elseif call.hasWarning %}yellow{% else %}green{% endif %}">
                            {{ call.responseData.statusCode }}
                        </span>
                    {% elseif call.hasError %}
                        <span class="r-label r-label-red">
                            EXC
                        </span>
                    {% endif %} 

                    <strong>{{ call.requestData.method }}</strong>

                    <a href="{{ call.requestData.url }}" target="_blank">{{ call.requestData.url }}</a>

                    <div class="pull-right">
                        {% if call.hasResponse and call.responseData.length %}
                            <span class="r-label">
                                {{ (call.responseData.length / 1024)|number_format(2) }} KiB
                            </span>
                        {% endif %}
                        {% if call.totalTime %}
                            <span class="r-label">
                                {{ call.totalTime|number_format(2) }} s
                            </span>
                        {% endif %}
                        {% if call.apiName %}
                            <span class="r-label">
                                {{ call.apiName }}
                            </span>
                        {% endif %}
                    </div>

                    <div class="tab-content">
                        <div class="tab-title">REQUEST</div>
                        {% if call.errorString %}
                            <small>
                                <strong>Error:</strong>
                                <span class="error">{{ call.errorString }}</span>
                            </small><br/>
                        {% endif %}
                        {% if call.requestData.mimeType and call.requestData.mimeType != call.requestData.contentTypeHeader %}
                            <small>
                                <strong>Guessed mime:</strong> {{ call.requestData.mimeType }}
                            </small>
                        {% endif %}
                        {% if call.requestData.hasHeaders %}
                            <span class="small-header">Request Headers</span>
                            {{ macros.show_headers(call.requestData.headers) }}
                        {% endif %}
                        {% if call.requestData.urlQueryParameters %}
                            <span class="small-header">Query Parameters</span>
                            {{ macros.show_headers(call.requestData.urlQueryParameters) }}
                        {% endif %}
                        {{ macros.show_body(call.requestData) }}
                    </div>
                    {% if call.hasResponse %}
                        <div class="tab-content"> 
                            <div class="tab-title">RESPONSE</div>
                            {% if call.responseData.mimeType and call.responseData.mimeType != call.responseData.contentTypeHeader %}
                                <small>
                                    <strong>Guessed mime:</strong> {{ call.responseData.mimeType }}
                                </small>
                            {% endif %}
                            {% if call.responseData.hasHeaders %}
                                <span class="small-header">Response Headers</span>
                                {{ macros.show_headers(call.responseData.headers) }}
                            {% endif %}
                            {{ macros.show_body(call.responseData) }}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><em>No API calls were made for this request.</em></p>
    {% endif %}
    <script type="text/javascript">
        var togglables = document.getElementsByClassName('togglable');
        var toggle = function(e) {
            var togglable = e.target;
            
            if(Sfjs.hasClass(togglable, 'togglable-open')) {
                Sfjs.removeClass(togglable, 'togglable-open');
                Sfjs.addClass(togglable, 'togglable-closed');
            } else if(Sfjs.hasClass(togglable, 'togglable-closed')) {
                Sfjs.removeClass(togglable, 'togglable-closed');
                Sfjs.addClass(togglable, 'togglable-open');
            }                
        }

        for(var i = 0; i < togglables.length; ++i) {
            togglables[i].onclick = toggle;
        }
    </script>    
{% endblock %}

{% macro show_headers(headers) %}
    {% for name, value in headers %}
        <div class="http-header">
            <strong>{{ name }}:</strong>
            {{ value }}{% if not loop.last %}<br/>{% endif %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro show_body(messageData) %}
    {% if messageData.hasBody %}
        {% set rawData = messageData.prettyBody %}
        <div class="msg-body">
            <a class="body-link" href="{{ path('_api_debug_call_body', {id: messageData.body.fileId}) }}" target="_blank">RAW BODY</a>
            {% if messageData.body.size < 64000 %}
                {% if rawData %}
                    {{ rawData|raw }}
                {% else %}
                    <em>Body could not be displayed.</em>
                {% endif %}
            {% else %}
                <em>Body is too large to be displayed.</em>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
